<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="perfil">
            <img class="fotoPerfil" src="../img/Bobby-Fischer-1971.jpg" />
            <h1 class="nomePerfil">Bobby Fischer</h1>
            <div class="rating">
                <input type="radio" name="star" id="star1"><label for="star1"></label>
                <input type="radio" name="star" id="star2"><label for="star2"></label>
                <input type="radio" name="star" id="star3"><label for="star3"></label>
                <input type="radio" name="star" id="star4"><label for="star4"></label>
                <input type="radio" name="star" id="star5"><label for="star5"></label>
            </div>
        </div>
        <div class="sobreMim">
            <p>
                Olá, sou Bobby Fischer, ex-campeão mundial de xadrez, e estou aqui para compartilhar minha visão sobre o
                jogo e oferecer insights que podem transformar sua abordagem no tabuleiro. O xadrez é mais do que apenas
                um jogo de lógica e estratégia; é uma batalha de vontades, onde cada movimento revela a mente do
                adversário.<br>

                Eu acredito que o segredo para vencer não está apenas em conhecer as aberturas ou em memorizar táticas,
                mas em compreender a essência por trás delas. A cada jogada, você deve buscar dominar não só o
                tabuleiro, mas também a psicologia do oponente. Quando você está um passo à frente mentalmente, já está
                controlando o jogo.<br>

                Aqui na mentoria, vou ajudar você a desenvolver esse tipo de mentalidade. Podemos revisar partidas,
                estudar padrões e explorar as nuances de posições complexas. Minha meta é mostrar como jogar não só para
                vencer, mas para ultrapassar seus próprios limites como enxadrista.<br>
            </p>
        </div>
        <iframe class="agenda"
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FBahia&bgcolor=%23ffffff&showTitle=0&src=ZWMxMDA4M2U5YzU3NjBiZmEyYTUzNTM2NTQ1MmZkMzdhOThjNDkzMzIzODEzNjU5MWNhZmM0N2M2MGFkNTZhNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00"
            style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>


    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-f5ffc010-3838-4534-9cb4-6b66c1adb62f" data-elfsight-app-lazy></div>
</body>

</html>